
body {
font-family: "Sriracha", cursive;
}

.container {
width: 100%;
max-width: 1000px;
margin: auto;
background-color: #A18276;
}

.Quiz-main {
font-size: 48px;
margin-top: 48px;
margin-bottom: 32px;
text-align: center; 
}

input[type="radio"] {
display: none;
}

.The-Quiz {
width:100%;
max-width: 80%;
font-size: 32px;
padding-bottom: 16px;
text-align: center;
}

.quiz-block {
min-width: 30%;
text-align: center; 
margin: 8px 0px;
}

.quiz-block label {
color: #432818;
display: block; 
padding: 15px 20px;
background-color: white;
border: 2px solid #A18276;
border-radius: 8px;
cursor: pointer;
}

input:checked + label { 
color: #432818;           
border: 2.5px solid #432818;
}

.Main {
display: flex;
flex-direction: column;
align-items: center;
background-color: #F7F4EA;
border-radius: 8px;
margin-top: 48px;
color: #432818;
padding-bottom: 24px;
}

.blockEf:hover {
color: #A18276;
box-shadow: 0px 0px 6px 0px;
transition: box-shadow 0.3s;
border-radius: 8px;
}

.button {
padding: 15px 20px;
margin-top: 24px;
background-color: #432818;
border-radius: 8px;
color: #F7F4EA;
text-decoration: none;
}

.Nub {
margin-top: 24px;
margin-bottom: 24px;
}

.is-correct + label {
    background-color: #2ecc71 !important;
    color: white !important;
    border-color: #27ae60 !important;
}

.is-wrong + label {
    background-color: #e74c3c !important;
    color: #F7F4EA !important;
    border-color: #c0392b !important;
}

.Photo {
width:100%;
max-width: 42%;
object-fit: cover;
margin-bottom: 16px;
}