
/* แก้ไขในส่วนของ body และ container */
body {
    font-family: "Sriracha", monospace;
    margin: 0;
    padding: 0;
    background-color: #A18276;
}

.container {
    width: 100%;
    min-height: 100vh;
    max-width: 1000px;
    margin: auto;
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Quiz-main {
font-size: 48px;
margin-top: 16px;
margin-bottom: 16px;
text-align: center; 
}

input[type="radio"] {
display: none;
}

.The-Quiz {
width:100%;
max-width: 80%;
font-size: 32px;
padding-bottom: 16px;
text-align: center;
}

.quiz-block {
min-width: 30%;
text-align: center; 
margin: 8px 0px;
}

.quiz-block label {
color: #432818;
display: block; 
padding: 15px 20px;
background-color: white;
border: 2px solid #A18276;
border-radius: 8px;
cursor: pointer;
}

input:checked + label { 
color: #432818;           
border: 2.5px solid #432818;
}

.Main {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F7F4EA;
    border-radius: 16px;
    color: #432818;
    padding: 25px 30px;
    min-width: 1000px;
}

.blockEf:hover {
color: #A18276;
box-shadow: 0px 0px 6px 0px;
transition: box-shadow 0.3s;
border-radius: 8px;
}

.button {
padding: 15px 20px;
margin-top: 24px;
background-color: #432818;
border-radius: 8px;
color: #F7F4EA;
text-decoration: none;
}

.Nub {
margin-top: 24px;
margin-bottom: 24px;
}

.is-correct + label {
    background-color: #2ecc71 !important;
    color: white !important;
    border-color: #27ae60 !important;
}

.is-wrong + label {
    background-color: #e74c3c !important;
    color: #F7F4EA !important;
    border-color: #c0392b !important;
}

.Photo {
width:100%;
max-width: 42%;
object-fit: cover;
margin-bottom: 16px;
}

@media (max-width: 1200px) {
.container{max-width: 992px;}
.Main {max-width: 992px;}
}

@media (max-width: 992px) {
.container{max-width: 768px;}
.Main {padding: 20px 25px; min-width:768px;}
}

@media (max-width: 768px) {
.container{max-width: 576px}
.Main {padding: 15px 20px; min-width: 576px;}
.quiz-block {min-width: 50%; max-width: 60%;}
}

@media (max-width: 576px) {
.container{max-width: 376px;}
.Main {min-width:376px;}
.The-Quiz{font-size: 24px;}
.quiz-block label {padding: 10px 15px;}
.quiz-block {min-width: 50%; max-width: 60%; font-size: 20px;}
}

@media (max-width: 430px) {
.container{max-width: 275px;}
.Main {padding: 10px 15px; min-width:275px;}
.Quiz-main{font-size: 36px;}
.The-Quiz{font-size: 18px;}
.quiz-block {min-width: 50%; max-width: 60%; font-size: 14px;}
.quiz-block label {padding: 10px 15px;}
}


